/* General styles for the body */
.body1 {
    font-family: 'Old English Five', 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffe1e1; /* Light red background */
    
}
.body2 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #ffe1e1; /* Light red background */
    
}

/* Style the heading */
.header1 {
    color: #ff581b; /* Dark orange */
    text-align: center;
    margin-top: 18px;
    margin-bottom: 100px;
    /*margin overrides the margin-specific's above*/
    border-bottom: 10px double white;
    padding: 4px;
    font-weight: bold;
    font-size: 50px;
    
}

/* Style the list */
.recipes {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    text-align: center;
    
}

/* Style the list items */
.recipesli {
    margin: 20px 0;
    
}

/* Style the links */
.arecipes {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #c33323; /* Red */
    font-size: 28px;
    border: 2px solid #c33323;
    margin-right: 25%;
    margin-left: 25%;
    padding: 6px;
}

.arecipes:hover {
    color: #9c291c; /* Darker red on hover */
    text-decoration: underline;
    font-size: 30px;

}

.bottom-line {
    position: fixed;
    bottom: 30px;               /* Distance from the bottom of the viewport */
    left: 0;
    width: 100%;                /* Line spans the full width */
    height: 4px;
    background-color: white;    /* Line color */
}


